/* ------------------Header Part-------------- */
*{
    margin: 0;
}
.first-part{
    background-color: rgba(255, 144, 14, 0.1);
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.architect{
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 35px;
}
.para{
    font-weight: 500;
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 70px;
    padding-top: 25px;
}
.header-left{
    padding-left: 200px;
}
.header-right{
    display: flex;
    margin-top: 20px;
    margin-right: 150px;
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
}

/* <!----------- header 2nd part---------- --> */

.second-part-heading-1, .second-part-heading-2{
    display: flex;
    justify-content: center;
    line-height: 15px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 35px;
}
.second-part-para{
    text-align: center;
    line-height: 25px;
    margin-bottom: 25px;
}
.primary-btn{
    padding: 15px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #FF900E;
    color: white;
    font-family: sans-serif;
    margin-left: 700px;
    margin-bottom: 30px;
    font-weight: 600;
}
.para-pic img{
    height: 500px;
    width: 1100px;
    margin-left: 220px;
    margin-bottom: 35px;
}

/* <!--------------- second Section --------------> */
.second-part{
    display: flex;
    margin-top: 50px;
}
.second-images{
    margin-left: 220px;
    row-gap: 20px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 70px;
}
.text{
    padding-top: 180px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
#bold{
    font-weight: 1000;
}
#orange{
    color: #FF900E;
    font-weight: 1000;
}
.second-para{
    line-height: 30px;
    padding-right: 150px;
}
.secondary-btn{
    padding: 15px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #FF900E;
    color: white;
    font-family: sans-serif;
    margin-top: 20px;
    font-weight: 600;
}

/* -------------third section----------------- */

.third-container{
    display: flex;
}
.third-left-heading{
    border-left: #FF900E;
    border-width: 2px;
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 45px;
    padding-bottom: 15px;
    padding-top: 35px;
}
.feature-para{
    line-height: 25px;
    margin-right: 45px;
}
.third-left{
    margin-top: 100px;
    margin-left: 180px;
}
.third-right-pic{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 55px;
    position: relative;
}
.third-left-para{
    line-height: 20px;
}
.left-shadow-one{
    margin-right: 45px;
    font-family: sans-serif;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 30px rgb(232, 228, 228);
}
.left-shadow-two{
    margin-right: 45px;
    font-family: sans-serif;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 30px rgb(232, 228, 228);
}
.left-shadow-three{
    margin-right: 45px;
    font-family: sans-serif;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 30px rgb(232, 228, 228);
}
.left-shadow-four{
    margin-right: 45px;
    font-family: sans-serif;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 30px rgb(232, 228, 228);
}
.third-btn{
    padding: 40px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #FF900E;
    color: white;
    font-family: sans-serif;
    margin-top: 20px;
    font-weight: 600;
    font-size: 50px;
    line-height: 45px;
    position: absolute;
    bottom: -30px;
    left: -50px;
}
#exp{
    font-size: 20px;
    font-weight: 500;
}

/* ----------------fourth part---------------- */

.fourth-section-parent{
    margin-top: 100px;
}
.fourth-section{
    display: flex;
    margin-bottom: 80px;
}
.fourth-one{ 
    text-align: center;  
    margin-left: 250px; 
    margin-right: 40px; 
    border: 2px solid orange;
    padding: 30px;
    line-height: 40px;
    transition-duration: 500ms;

}
.fourth-one:hover{ 
    background-color: #e7aa5f;
    transform: scale(1.15);
 
}
.fourth-two{ 
    text-align: center;
    margin-left: 40px; 
    margin-right: 40px;   
    border: 2px solid orange;
    padding: 30px;
    line-height: 40px;
     transition-duration: 500ms;
}
.fourth-two:hover{ 
    background-color: #e7aa5f;
     transform: scale(1.15);
}
.fourth-three:hover{ 
    background-color: #e7aa5f;
     transform: scale(1.15);
}
.fourth-four:hover{ 
    background-color: #e7aa5f;
    transform: scale(1.15);
}
.fourth-three{ 
    text-align: center;
    margin-left: 40px; 
    margin-right: 40px;   
    border: 2px solid orange;
    padding: 30px;
    line-height: 40px;
    transition-duration: 500ms;
}
.fourth-four{ 
    text-align: center;
    margin-left: 40px; 
    margin-right: 40px;   
    border: 2px solid orange;
    padding: 50px;
    line-height: 30px;
    transition-duration: 500ms;
}
.fourth-heading{
    margin-left: 200px;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 800;
    font-family: sans-serif;
}
.fourth-para{
    margin-bottom: 50px;
    margin-left: 200px;
    padding-bottom: 30px;
    font-family: sans-serif;
}


/* fifth part-------------------------------- */

.fifth-heading{
    font-family: sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
}
.fifth-para{
    font-family: sans-serif;
    font-weight: 600;
    line-height: 30px;
}
.leaders{
    display: flex;
}
.leader-1{
    margin-left: 350px;
}
.leader-2{
    margin-left: 120px;
}
.leader-3{
    margin-left: 120px;
}



/* ----------------sixth part---------------- */

.sixth-heading{
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 800;
    margin-top: 50px;
}
.sixth-para{
    font-family: sans-serif;
    text-align: center;
    line-height: 20px;
    margin-bottom: 40px;
}
.icons-section{
    display: flex;
    margin-bottom: 50px;
}
.icons-section img{
    filter: grayscale(100%);
}
.icons-section img:hover{
    filter: grayscale(0%);
}
.spotify{
    margin-left: 150px;
    margin-right: 50px;
}
.amazon{
    margin-left: 50px;
    margin-right: 50px;
}
.google{
    margin-left: 50px;
    margin-right: 50px;
}
.telerama{
    margin-left: 50px;
    margin-right: 50px;
}
.figma{
    margin-left: 50px;
    margin-right: 50px;
}
.copyright{
    text-align: center;
    border: 2px solid #FFF4E7;
    background-color: #FFF4E7;
    padding: 30px 120px;
    margin-left: 180px;
    margin-right: 150px;
    margin-bottom: 100px;
}














/* Mobile Device */

@media screen and (max-width: 576px) {
    .architect {
        text-align: center;
        margin-top: 0px;
        padding-top: 10px;
        font-size: 30px;
    }
    .para {
        font-size: 20px;
        font-weight: 700;
        padding-left: 150px;
        padding-top: 25px;
    }
    .second-part-para {
        line-height: 25px;
        text-align: left;
        padding: 20px 30px;
    }
    .primary-btn {
        margin-left: 140px;
    }
    .para-pic img {
        height: 100%;
        width: 100%;
        margin-left: 0px;
    }
    .header{
        display: block;
    }
    .header-left {
         padding-left: 0px; 
    }
    .header-right {
         padding-left: 0px; 
         align-content: center;
         display: block;
    }
    .second-part-heading-2{
        margin-bottom: 0px;
        line-height: 40px;
        font-size: 20px;
        justify-content: flex-start;
        padding-left: 90px;
        /* font-size: 10px; */
    }
    .second-part-heading-1{
        font-size: 20px;
        justify-content: flex-start;
        margin-bottom: 0px;
        padding-left: 130px;
        /* font-size: 10px; */
    }

    .second-part{
        display: block;
    }
    .second-images{
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .text{
        padding-top: 10px;
        text-align: center;
    }
    .second-para {
        line-height: 30px;
        padding: 5px 20px;
        text-align: center;
    }
    .secondary-btn{
        margin: 15px 130px;
    }
    .third-container{
        display: block;
    }
    .third-left-heading{
        border-left: #FF900E;
        border-width: 2px;
        padding-bottom: 15px;
    }
    .feature-para {
        line-height: 25px;

    }

    /* third */

    .third-left-heading{
        text-align: center;
        font-size: 35px;
    }
    .feature-para{
        margin: 5px 15px 20px;
        text-align: center;
    }
    .third-left{
        margin: 5px 15px;
    }
    .third-right-pic img{
        height: 100%;
        width: 100%;
    }
    .third-right-pic{
        margin: 25px 15px;
    }
    .third-left-para{
        line-height: 20px;
        margin: 5px 15px;
    }
    .left-shadow-one{
        margin: 15px 15px;
        padding: 20px;
    }
    .left-shadow-two{
        margin: 15px 15px;
        padding: 20px;
    }
    .left-shadow-three{
        margin: 15px 15px;
        padding: 20px;
    }
    .left-shadow-four{
        margin: 15px 15px;
        padding: 20px;
    }
    .third-btn{
        padding: 10px;
        font-size: 35px;
        margin-left: 140px;
        position: relative;
    }

    /* ----------------fourth part---------------- */

.fourth-section-parent{
    margin-top: 100px;
}
.fourth-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 5px 15px;
}
.fourth-one{ 
    margin: 5px 15px; 
    padding: 30px;
}
.fourth-two{ 
    margin: 5px 15px;   
    padding: 30px;
}
.fourth-three{ 
    margin: 5px 15px;   
    padding: 30px;
}
.fourth-four{ 
    margin: 5px 15px;  
    padding: 50px;
}
.fourth-heading{
    margin: 5px 25px;
    padding-bottom: 20px;
}
.fourth-para{
    margin: 5px 25px;
}

/* fifth part-------------------------------- */

.fifth-heading{
    margin: 0px;
    font-size: 30px;
}
.leaders{
    display: block;
}
.leader-1{
    margin: 35px 50px;
}
.leader-2{
    margin: 35px 50px;
}
.leader-3{
    margin: 25px 50px;
}

/* ----------------sixth part---------------- */

.sixth-heading{
   
    margin: 5px 15px;
}
.sixth-para{
    margin: 5px 15px;
}
.icons-section{
    display: block;
  
}
.icons-section img{
    margin: 0px;
}
.icons-section-parent{
    margin: 0px;
}

.spotify{
    margin: 30px 20px;
    text-align: center;
}
.amazon{
    margin: 30px 20px;
    text-align: center;
}
.google{
    margin: 30px 20px;
    text-align: center;
}
.telerama{
    margin: 30px 20px;
    text-align: center;
}
.figma{
    margin: 30px 20px;
    text-align: center;
}
.copyright{
  margin: 0px;
}

}